#map {
  width: 100vw;
  height: 90vh;
  margin-top: 3.5rem;
}

canvas {
    
  width: 100vw;
  height: 80vh;
}
.mapboxgl-canvas-container {
  height: 80vh;
}
.mapboxgl-popup {
  width: 60%;
  padding: 0.75rem;
  // z-index: 5;
}

.mapboxgl-popup-content {
  text-align: left;
}

.marker {
  background: url(asset-path('bench.png'));
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  // z-index: 3;
}

input.mapboxgl-ctrl-geocoder--input {
  z-index: 20;
}

// input {
//   z-index: 20;
// }
.mapboxgl-user-location-accuracy-circle {
  background-color: none;
}