<div class="menu">
  <ul>
    <li>
      <%= link_to 'Home', benches_path, class: "link" %>
        <%#= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' %>
      <%# end %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Benches", benches_path, class: 'link' %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: 'link' %>
      </li>
    <% end %>
  </ul>
</div>
