.btn {
  color: $white;
  background-color: $action;
  opacity: 0.8;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  transition: opacity 0.3s ease-out;

  &:hover {
    color: $white;
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
}

.btn-outline {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration:none;
  color: $action;
  border-radius: 50px;
  border: 1px solid $action;
  padding: 0.75rem 1rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;

  &:hover {
  color: $action;
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}