.menu {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $white;
  border-bottom: 1px solid $lightred;
  width: 100vw;
  height: 3.5rem;
  padding: 0.5rem 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 0;
  }
  @media (min-width: 769px) {
    background-color: $lightred;
    border-bottom: 1px solid $action;
    justify-content: space-evenly;
  }
  & img {
    height: 1.5rem;
    &:hover {
      text-decoration: none;
    }
  }
  & i {
    font-size: 1.5rem;
  }
  &-item {
    text-align: center;
  }
}

.link,
.link:visited,
.link:active,
i {
    color: $action;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5rem;
}


.link-margin-left {
    margin-left: 2rem;
}

#desktop {
  display: none;
  @media (min-width: 769px) {
    display: inline
  }
  &:hover {
    text-decoration: none;
  }
}


.active {
  font-weight: 600;
  background-color: $lightred;
}

.nav-text {
  color: $action;
  margin: 0;
  line-height: 0.75rem;
  font-weight: 300;
  font-size: 0.5rem;
}

