<div class="container">
<h1>All the best benches for the comfort of your butt</h1>
	<ul class="list">
		<% @benches.each do |bench| %>
			<li>
				<%= link_to bench.name.capitalize, bench_path(bench), id: bench.id %>
				<%= link_to 'book', new_bench_booking_path(bench), class: 'btn-outline' %>
			</li>
		<% end %>
	</ul>
	<%= link_to "Create a new bench!", new_bench_path, class: 'btn-outline' %>
</div>
